body {
    background-color: #C9F4EB;
    margin: 0px; 
}

h1 {
    font-size: 70px;
    text-align: center;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-style: oblique;
    padding-top: 40px;
    }

header {
    background-image: url("./images/KH_header_background_2.jpg");
    background-size: cover;
    height: 250px;
    padding-top: 180px;
    }


.pink_box {
    width: 1000px;
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
    }
      
.pink_box img {
    width: 70%;
    padding: 10px 130px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

    }
    
h2 {font-size: 30px;
    color: black;
    font-family: 'Nunito', sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-style: oblique;

}

p {
    font-size: 23px;
    color: black;
    font-family: 'Nunito', sans-serif;
    margin-left: auto;
    margin-right: auto;
    
}