/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   Reset CSS Stylesheet! 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
- Check out SELECTORS, 
* Universal selector, Type selector h1, and a class selector
! important= overwrites anything ==> last thing to USE 
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,100&display=swap');


body {
  background-color: rgba(244, 136, 97, 0.488);
}

h1 {
  color:rgb(244, 136, 97);
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  padding: 50px;
  text-align: center;
  display: block;
}  

h2 {
  color: rgb(34, 140, 172);
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 50px; 
  margin: 150px 100px 50px 100px;
  text-align: center;
}

h3 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
  text-align: center;
  color: whitesmoke;
}

p {
  text-align: justify;
  font-family: sans-serif;
  font-weight:300px;
  margin: 300px 0px 0px 0px; 
  color:grey
}

menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

menu a {
  display: inline-block;
  padding: 10px 15px;
  background: rgba(244, 136, 97, 0.488);
  color: rgb(34, 140, 172);
  font-weight:lighter;
  text-decoration: none;
  border-radius: 3px;
  margin: 10px 5px;
}

menu a:hover {
  background: rgb(244, 136, 97);;
  color: grey;
}

.titel, .titel_toolbox, .titel_about {
  background-size: cover;
  block-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 10px;
}

.titel {
  background-image: url("https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
}

.titel_toolbox {
  background-image: url("https://images.unsplash.com/photo-1627873828998-50b7aeec7ffe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1658&q=80");
}

.titel_about {
  background-image: url("https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}

.ideas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0;
}

.idea_1, .idea_2, .idea_3, .idea_4, .idea_5, .idea_6  {
  color: whitesmoke;
  background-color: peachpuff;
  background-repeat: no-repeat;
  background-size: 600px 350px;
  border-radius: 5%;
  padding: 15px;
  border: 2px solid pink;
  width: 500px;
  margin: auto;
  max-height: 600px;

}

.idea_1 {
  background-image: url("https://images.unsplash.com/photo-1618005198920-f0cb6201c115?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"); 
}

.idea_2 {
  background-image: url("https://images.unsplash.com/photo-1623150502742-6a849aa94be4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}

.idea_3 {
  background-image: url("https://images.unsplash.com/photo-1557672172-298e090bd0f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2487&q=80");
}

.idea_4 {
  background-image: url("https://images.unsplash.com/photo-1484069560501-87d72b0c3669?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  
}

.idea_5 {
  background-image: url("https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}

.idea_6 {
  background-image: url("https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80");
}

.image_bottom {
  block-size: auto;
  background-image: url("https://images.unsplash.com/photo-1617791160505-6f00504e3519?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1828&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 100px 0;
  padding: 200px;
}

video { 
  border: 2px dashed orange;
  border-radius: 50%;
  margin: 25px 30%;
}