@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Domine&family=Open+Sans:wght@400;700&display=swap");

body {
  margin: 0 auto;
  max-width: 1440px;
  background-color: rgb(250, 249, 246);
}
/* evt. Header einfügen mit background-size: cover, und height 2527 beim Bild Save the date */

/*rot rgb (138 156 86)
ocker rgb (138 156 86)
headings rgb(161, 13, 40, 0.9)
topheading: rgb(124, 6, 51)
top-heading grün: rgb(74 70 42)
rest: rgb (138 156 86)*/

h1 {
  color: rgb(138 156 86);
  font-size: 36px;
}

header {
  background-image: url("./images/Front\ 1.jpg");
  height: 500px;
  background-size: cover;
}
.top-heading {
  color: rgb(63 71 39);
  font-size: 60px;
  font-weight: bolder;
  margin: 0;
  text-align: center;
  padding-top: 50px;
  font-family: "Cookie", cursive;
}
.section-image {
  background-image: url("./images/2H6A6411.jpg");
  height: 545px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.top-image {
  max-width: 5400px;
  background-position: top;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  /* es braucht nur width 100% damit das Bild wieder sauber dargestellt wird */
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}

nav a {
  display: inline-block;
  padding: 10px 15px;
  background: rgb(138 156 86);
  color: rgb(250, 249, 246);
  font-weight: semi-bold;
  text-decoration: none;
  border-radius: 10px;
  margin: 0 5px;
}

nav a:hover {
  background: rgb(138 156 86);
  color: rgb(63 71 39);
}
h2 {
  text-align: center;
  background-color: rgb(138 156 86);
  padding: 20px;
  margin: 0;
  font-family: "Domine", serif;
  color: rgb(250, 249, 246);
}
h3 {
  text-align: center;
  color: rgb(138 156 86);
  padding: 15px;
  margin: 0px;
  font-family: "Domine", serif;
}
h4 {
  text-align: center;
  padding: 10px;
  margin: 0px;
  font-family: "Domine", serif;
  color: rgb(63 71 39);
}
p {
  text-align: center;
  max-width: 70ch;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  color: rgb(63 71 39);
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  margin-bottom: 50px;
  gap: 50px;
}

.center {
  justify-content: center;
  gap: 40px;
}

/*.column {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}*/
.Formular {
  display: flex;
  justify-content: center;
}
form {
  margin-bottom: 20px;
}

.column-anmeldung {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}
.anmeldung-for {
  margin: 5px;
}
.row-anmeldung {
  display: flex;
  gap: 50px;
  padding-left: 0px;
  margin-top: 0px;
}

div {
  color: rgb(63 71 39);
}
fieldset {
  border: 0px;
  padding: 0px;
}
.food {
  display: flex;
}
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px;
  outline: none;
  margin-top: 5px;
  box-shadow: rgb(138 156 86 / 57%) 3px 3px;
  color: rgb(63 71 39);
}
input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px;
  outline: none;
  margin-top: 5px;
  box-shadow: rgb(138 156 86 / 57%) 3px 3px;
  color: rgb(63 71 39);
}

input[type="email"] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid;
  border-color: grey;
  border-radius: 4px;
  padding: 5px;
  outline: none;
  margin-top: 5px;
  box-shadow: rgb(138 156 86 / 57%) 3px 3px;
}
textarea {
  resize: none;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  margin-top: 5px;
  box-shadow: rgb(138 156 86 / 57%) 3px 3px;
  font-family: "Open Sans", sans-serif;
}
select {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  outline: none;
  box-shadow: rgb(138 156 86 / 57%) 3px 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
select:focus {
  color: black;
}

input[type="text"]:focus {
  border: 1px solid rgb(138 156 86);
}
input[type="email"]:focus {
  border: 1px solid rgb(138 156 86);
}
textarea:focus {
  border: 1px solid rgb(138 156 86);
}

input[type="radio"] {
  appearance: none;
  display: inline-block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid darkgrey;
  outline: none;
  box-shadow: rgb(138 156 86 / 57%) 1px 1px;
  margin-right: 10px;
}

[type="radio"]:checked {
  background: rgb(138 156 86);
  border: 4px solid whitesmoke;
  box-shadow: rgb(138 156 86 / 57%) 1px 1px;
  outline: 1px solid darkgray;
}
input[type="radio"]:focus {
  background: rgb(138 156 86);
  border: 4px solid whitesmoke;
  box-shadow: rgb(138 156 86 / 57%) 1px 1px;
  outline: 1px solid darkgray;
}

input[type="checkbox"] {
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid darkgray;
  width: 16px;
  height: 16px;
  outline: none;
  box-shadow: rgb(138 156 86 / 57%) 1px 1px;
  margin-right: 10px;
}

[type="checkbox"]:checked {
  background: rgb(138 156 86);
  border: 4px solid whitesmoke;
  box-shadow: rgb(138 156 86 / 57%) 1px 1px;
  outline: 1px solid darkgray;
}
.place {
  display: flex;
}
.ort {
  box-sizing: none;
}

.Absenden {
  display: flex;
  justify-content: center;
}
.button-submit {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: rgb(138 156 86);
  color: rgb(250, 249, 246);
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.button-submit:hover {
  color: rgb(63 71 39);
}
.column-50 {
  flex: 1 1 100%;
  display: flex;
}
.Trauzeuge-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: right;
  text-align: center;
  padding: 10px;
}
a {
  color: rgb(138 156 86);
  text-align: center;
}
.maillink {
  color: rgb(250, 249, 246);
  font-size: 15px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
.maillink:hover {
  color: rgb(63 71 39);
}
/*.maillink2 {
  color: black;
  text-decoration: none;
}
.maillink2:hover {
  text-decoration: underline;
}*/
.tellink {
  font-size: 15px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
.tellink:hover {
  text-decoration: underline;
}
.mailbutton {
  background-color: rgb(138 156 86);
  border-radius: 10px;
  border: none;
  width: 150px;
  padding: 8px 16px;
}
.contact-mail {
  display: flex;
  align-items: center;
  gap: 10px;
}
.material-icons-round.red {
  color: rgb(138 156 86);
}

.wunsch-left {
  width: 33%;
}

.image-wunsch {
  margin: auto;
  width: 175px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
  border-radius: 10px 25% 20px;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.material-icons-round.white {
  color: #ffffff;
}
.icons {
  background-color: rgb(138 156 86);
  padding: 20px;
  border: rgb(138 156 86);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 20px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.icons .icon {
  font-size: 36px;
}

ul {
  list-style: none;
}

.menu {
  display: inline-flex;
  margin-right: 10px;
  padding-bottom: 10px;
}

li {
  display: flex;
  justify-content: center;
  gap: 0px;
}

.schedule {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
}
.schedule-point {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
}
.time {
  font-size: large;
}
.schedule-text {
  margin-top: 0px;
}

.ablauf-text {
  flex: 0 0 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  height: 200px;
  width: 400px;
  border-radius: 10px 25% 20px;
}

.wunsch-container {
  max-width: 225px;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.wunsch-text {
  margin: auto;
  max-width: 250px;
}
.Wunschliste {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  max-width: 750px;
  margin: auto;
}

.wishlist {
  padding-bottom: 20px;
  width: 33%;
}
footer {
  background-color: rgb(138 156 86);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text {
  color: #ffffff;
}

label {
  display: block;
  box-sizing: border-box;
  margin: 5px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
.success {
  /*border: 2px solid rgb(138 156 86);*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}
.SuccessText {
  text-align: center;
  padding-top: 20px;
}
.SuccessImage {
  width: 450px;
}
.button-success {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: rgb(138 156 86);
  color: rgb(250, 249, 246);
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  align-content: center;
  margin-top: 20px;
}
.button-success:hover {
  color: rgb(63 71 39);
}
/*Mobile*/

@media (max-width: 667px) {
  .text-trauzeugen {
    margin-top: 0px;
  }
  .schedule-point {
    flex-wrap: wrap;
    max-width: 330px;
  }
  .icons .icon {
    font-size: 30px;
  }

  .row-anmeldung {
    flex-wrap: wrap;
    gap: 0px;
  }

  label {
    padding-left: 10px;
    padding-right: 10px;
  }

  iframe {
    width: 330px;
  }
  .wishlist {
    flex-wrap: wrap;
    padding: 0px;
    width: 100%;
  }

  .icons {
    margin: auto;
    width: 44px;
    height: 44px;
  }

  header {
    height: 250px;
  }
  .section-image {
    height: 250px;
  }
  .top-heading {
    padding-top: 10px;
    font-size: 47px;
  }
  .scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  nav {
    justify-content: flex-start;
  }
  .menu {
    margin-right: 0px;
  }
  .column-50 {
    flex-wrap: wrap;
  }
  .row {
    padding-left: 0px;
  }
  .image-wunsch {
    padding: 0px;
  }
  .footer-text {
    padding-top: 10px;
  }

  .SuccessImage {
    width: 300px;
  }
  .SuccessText {
    padding-left: 0px;
    padding-right: 0px;
  }
}
/*Tablet*/
@media (min-width: 668px) and (max-width: 1024px) {
  .scroll {
    white-space: nowrap;
    overflow-x: auto;
  }

  .menu {
    align-content: flex-start;
  }
  .navigation {
    display: flex;
    align-content: flex-start;
    padding-left: 0px;
  }
  .top-heading {
    padding-top: 20px;
  }
  .schedule-point {
    flex-wrap: wrap;
  }
  label {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row-anmeldung {
    flex-wrap: wrap;
    gap: 0px;
  }
  .wishlist {
    width: 50%;
  }
  .Wunschliste {
    max-width: 500px;
  }
}
