@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Condensed:wght@300&display=swap');







body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}




h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-top: 25px;
  line-height: 1.8;
}

h2 {
  font-family: 'Raleway', sans-serif;
  padding-top: 25px;
}

p {
  line-height: 1.8;
  text-align: justify;
}

li {
  line-height: 1.8;
}

.top-banner {
  background-color: #ad9a7d;
  font-size: 12px;
  text-transform: uppercase;
}

.banner-elements {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.banner-elements p {
  margin: 10px 30px;
  white-space: nowrap;
}


.banner-elements a {
  color: #f0f0f0;
  text-decoration: none;
}

.banner-elements a:link {
  color: #f0f0f0;
}

.banner-elements a:visited {
  color: #f0f0f0;
}

.banner-elements a:focus {
  color: #f0f0f0;
}

.banner-elements a:hover {
  color: #d6d6d6;
  padding-bottom: 2px;
  border-bottom: 0.1em solid #d6d6d6;

}

.banner-elements a:active {
  color: #f0f0f0;
}




.inst-sm {
  width: 16px;
  filter: invert(1);
}

.linkd-sm {
  width: 19px;
  filter: invert(1);
}

.banner-elements p:nth-last-child(3) {
  flex: 1;
}

.no-hover a:hover {
  text-decoration: none;
}

.no-link {
  cursor: default;
  pointer-events: none;
}



.logo {
  width: 320px;
  padding: 24px;
}


.navcontainer {
  width: 100%;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  text-align: center;

}

.navbar li {
  text-transform: uppercase;
  letter-spacing: 1px;
  list-style: none;
  display: inline-block;
  margin-right: 45px;
  vertical-align: middle;
}



.navbar li:nth-child(6) {
  margin-right: 0px;
}

.navbar a {
  color: #996623;
  text-decoration: none;
}

.navbar a:link{
    color: #996623;
}

.navbar a:visited {
  color: #996623;
}

.navbar a:focus {
  color: #996623;
}

.navbar a:hover {
  color: #d69d53;
  padding-bottom: 10px;
  border-bottom: 0.1em solid #d69d53;
}

.navbar a:active {
  color: #996623;
}


.active {
  color: #d69d53;
  padding-bottom: 10px;
  border-bottom: 0.1em solid #d69d53;
  cursor: default;
  pointer-events: none;
}



.content {
  padding: 50px 500px;
}


.content a {
  color: #996623;
  text-decoration: none;
}

.content a:link {
  color: #996623;
  padding-bottom: 2px;
  border-bottom: 0.1em solid #996623;
}

.content a:visited {
  color: #996623;
}

.content a:focus {
  color: #996623;
}

.content a:hover {
  color: #d69d53;
  border-bottom: 0.1em solid #d69d53;
}

.content a:active {
  color: #996623;
}




.flex-parent {
  padding-top: 35px;
}

.flex-header {
  margin: 0px;
  padding: 16px;
}



.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  width: 100%;
  align-items: flex-start;
}


.flex-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: flex-start;
  width: 50%;
}










.bg-services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(2, 0, 0, 0.7)), url('../img/dan-dimmock-sNwnjxm8eTY-unsplash.jpg');
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/eduardo-olszewski-iE9Iq-ys8Bo-unsplash.jpg');
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-portfolio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg');
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/christopher-gower-vjMgqUkS8q8-unsplash.jpg');
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/louis-hansel-OgDrj7Q8EAw-unsplash.jpg');
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-legal {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/jez-timms-8muUTAmcWU4-unsplash.jpg');
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-privacy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/sixteen-miles-out-zn2M1iILVUk-unsplash.jpg');
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-cookies {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/giammarco-zeH-ljawHtg-unsplash.jpg');
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.bg-connect {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/benjamin-sow-rd3c5yP0uwE-unsplash.jpg');
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



.headerh1 {
  font-size: 45px;
  color: #f0f0f0;
  text-shadow: 3px 3px #0000002d;
  padding-top: 105px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 15px; 
}


.samerow-content {
  display: flex;
}

.flexchild-content {
  flex: 1;
}




.img-violeta {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

.img-violeta img {
  width: auto;
  height: 100%;
  margin-left: -85px;
}


.bg-connect a {
  color: #f0f0f0;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 0.1em solid #f0f0f0;
}


.bg-connect a:link {
  color: #f0f0f0;
}

.bg-connect a:visited {
  color: #f0f0f0;
}

.bg-connectl a:focus {
  color: #f0f0f0;
}

.bg-connect a:hover {
  color: #d6d6d6;
  padding-bottom: 2px;
  border-bottom: 0.1em solid #d6d6d6;

}

.bg-connect a:active {
  color: #f0f0f0;
}


.bg-connect p {
  color: #f0f0f0;
  text-align: center;
}






.connect-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-logos a {
  margin: 0px 40px 0px 40px;
}


.connect-logos a:link, a:visited {
  border-bottom: none;
}


.instagram {
  width: 30px;
}



.footer {
text-align: center;
margin-top: auto;
}



.logo-footer {
  width: 250px;
  padding-top: 100px;
}


.footer-connect {
  padding: 40px 20px;
}


.footer-menu {
  padding-bottom: 40px;
}


.footer-legal {
  background-color: #ad9a7d;
  font-size: 12px;
  margin-top: auto;
}

.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ft-legal-list p {
  margin: 10px;
  white-space: nowrap;
  color: #f0f0f0;
}

.ft-legal-list p:nth-last-child(4) {
  flex: 1;
}


.footer-legal a {
  color: #f0f0f0;
  text-decoration: none;
}

.footer-legal a:link {
  color: #f0f0f0;
}

.footer-legal a:visited {
  color: #f0f0f0;
}

.footer-legal a:focus {
  color: #f0f0f0;
}

.footer-legal a:hover {
  color: #d6d6d6;
  padding-bottom: 2px;
  border-bottom: 0.1em solid #d6d6d6;
}

.footer-legal a:active {
  color: #f0f0f0;
}
