@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100&display=swap');


header{
    background-image: url(images/Logo\ Chefinne.jpeg);
    background-size: cover;
    height: 350px;
    padding: 0px;
}

body {font-family: 'Epilogue', sans-serif; background-color: #f6f8f7; margin: 0px;}

.navigation {
    display: none;
    align-items: center;
} /*** -> damit Image Logo über der Nav-Leiste ist***/

.image-logo {
    width: 100px;
    z-index: 1;
    border-radius:50%;
    padding: 10px;
}

menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    height: 10%;
    top: 0%;
    margin: 0%;
    width:100%;
    background-color: rgb(219, 219, 215);
}

  menu a {
    display: inline-block;
    padding: 5px 20px;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    
}

  menu a:hover {
      background-color: rgb(222, 228, 222);
    color: black;
}

.hamburgerbackground {
    padding: 0.1px;
    background-color: rgb(219, 219, 215);
}

.hamburger {
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px;
}

.hamburger div {
    width: 30px;
    height: 5px;
    background: rgb(83, 78, 78);
    border-radius: 5px;
}

h1 {
    color:rgb(125, 165, 125);
    font-size:45px;
}


h2 {
    font-size: 40px;
}

h3 {
    font-size:20px;
}


.Uber-Heading {
    margin: 15px;
}

/***HOME***/

.intro-container {
    background: white;
    color: black;
    padding: 20px;
}

.second-container {
    background: #f6f8f7;
    color: black;
    padding: 40px;
    display: column;
    justify-content: center;
    align-items: center;
}

.second-container-left {
    width: 100;
}

.second-container-left img {
    width: 100%;
    border-radius: 10px;
}

.second-container-text {
    width: 100%;
    line-height: 1.5;
}


.third-container {
    background: white;
    height: 100%;
    display: column;
    align-items: center;
    padding-top: 20px;
}

.third-container img {
    width: 300px; 
    border-radius: 5px;
}


.Labor-Child {
    margin: 40px;
}

 /*** UBER UNS ***/

 span{
    display:inline-block;
    border-bottom:2px solid rgb(125, 165, 125);
    padding-bottom:2px;
}

.VorstellungParent {
    display: column;
    flex-wrap: wrap;
    padding: 0px 50px;
 }


 .vorstellung {
    margin: 30px 50px 0px 0px;
    
}

.vorstellung p {
    line-height: 1.5;
}

.Vorstellung-Inhalt img {
    width: 100%;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: 0px 20%;
}

 .Vorstellung-Inhalt {
    display: column;
    align-items: center;
  
}

/*** NEWS ***/
.flex-parent{ 
    display: column;
    margin:10px;
}

.flex-child{
    margin: 3px;
    border:2px black solid;
    border-radius:5px;
    padding: 5px;
}

.flex-child img {
    width: 100%;
    border-radius: 5%;
}

.newstanja{
    background-color: rgb(164, 190, 170)
}
.newslara{
    background-color:  rgb(201, 177, 201)
}


 /*Inspiration*/
.pink-box {
    background-color: #fae4e5;
    height: 100%;
    padding: 20px;
    padding-top: 90px;
    margin-top: -90px;
}
.pink-box img{
    width:30%;
}

.rundesbild{
    border-radius: 50%;
}

#centerAll {
    text-align: center;
}




/***MEDIA QUERIES***/
@media (min-width: 667px) {
    .hamburger {
        display:none;
    }

@media screen and (min-width: 667px) {
    .navigation {
        display: flex; 
    } /***-> damit nav leiste bei Grösse oberhalb von mobile wieder erscheint***/
}

/*** Media Queries Home***/
@media (min-width: 667px) {
    .second-container {
        display: flex;
    }

    .second-container-left {
        width: 50%;
        padding-right: 30px;
    }

    .second-container-text {
        width: 50%;
        padding-left: 30px;
    }

    .third-container {
        display: flex;
        padding-top: 0;
    }

        #Text {
        order: 2;
        }

        #Bild1 {
            order: 1;
        }

        #Bild2 {
            order: 3;
        }

        .title {
            text-align: center;
        }
    

    header {
        /*** How do I adjust the header img for mobile?***/
    }

    /*** How do I change the size of the h1 and p?***/

}

@media (max-width: 666px) {
    .second-container {
        flex-direction: column;
        width: 20%;
    }
}


/***Media Queries Über Uns***/
/***min 667***/

@media (min-width: 667px){
    .VorstellungParent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


@media (min-width: 667px) { 
        .Vorstellung-Inhalt {
            display: column; 
        } 

@media (min-width: 667px) {
    .Vorstellung-Inhalt img {
        height: 200px;
        width: 200px;
    }

@media (min-width: 667px) {
        .vorstellung {
            width: 35%;
        }
    }

    }

/*** Uber Uns min 1024px ***/    
@media (min-width: 1024px) {
        .vorstellung {
            width: 20%;
        }
    }

        .vorstellung h3 {
            height: 40px;
        /***How do I align the text to the bottom? Still abve the image, but align at bottom of those 40px. ***/
    }

} 


/*** Media Queries News (min 667)***/
@media (min-width: 667px) {
    .flex-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
}

@media (min-width: 667px) {
    .flex-child {
        width: 45%;
    }
}

/*** Media Queries News (min 1024)***/


@media (min-width: 1024px) {
    .flex-child {
        width: 20%;
    }
}

